*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height:15vh;
    background: black;
    display: flex;
    gap: 340px;
    justify-content: space-around;
    align-items: center;
}
#im{
    width: 200px;
    height: 150px;
}
#separador{
    display: flex;
    gap: 50px;
    align-items: center;
}
#primer-boton:hover{
    background: black;
    color: #ebc9d7;
    transition: 0.4s;
    transform: scale(1.1);
}
nav ul li a:hover{
    text-decoration: underline;
    transform: scale(1.6);
}
#primer-boton{
    width: 150px;
    height: 40px;
    background: white;
    border: 2px solid #ebc9d7;
    border-radius: 20px;
    font-size: 1rem;
}
nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

nav ul li a{
    color: #ebc9d7;
    text-decoration: none;
    font-size: 1.4rem;
    
}
#primera-seccion{
    width: 100%;
    height: 89vh;
    background: red;
    position:relative;
    display: flex;
    
 
}
#tex{
    width: 500px;
    height: auto;
    background: blue;
}