*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height:15vh;
    display: flex;
    gap: 100px;
    justify-content: space-around;
    align-items: center;
}
#cajon-dentro-del-header{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 1.6rem;
    color: #fcabcd;
    position: relative;
}
#cajon-dentro-del-header input{
    height: 35px;
    outline: none;
    border: none;
    background: rgb(0, 0, 0);
    border: 2px solid #fcabcd;
    border-radius: 20px;
    font-size: 1.04rem;
    color: #fcabcd;
    
}
#sopla{
    width: auto;
    position: relative;
}
.search-icon {
    width: 24px;
    height: 24px;
    right: 15px;
    top: 7px;
    cursor: pointer;
    position: absolute;
}
#caco{
    background-image: url(/img/fondoto.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
#im{
    width: 200px;
    height: 150px;
}
#separador{
    display: flex;
    gap: 50px;
    align-items: center;
}
#primer-boton:hover{
    background: #fcabcd;
    border: #000000;
    color: black;
    transition: 0.3s;
}
nav ul li a:hover{
    color: #ffffff;
    text-shadow:0px 0px 10px #ff87b9;
    transition: 0.4s;
}

#primer-boton{
    width: 120px;
    height: 40px;
    background: rgb(0, 0, 0);
    color: #fcabcd;
    border: 2px solid #fcabcd;
    border-radius: 20px;
    font-size: 1rem;
}
nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

nav ul li a{
    color: #fcabcd;
    text-decoration: none;
    font-size: 1.4rem;
}
#primera-seccion{
    width: 100%;
    height: 85vh;
    display: flex;
    gap: 45px;
    justify-content: space-evenly;
    flex-direction: row;
}
#text{
    width: 500px;
    height: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
#text h1{
    font-size: 2.5rem;
    margin-top: 45px;
    color: white;
}
#text span{
    text-transform: uppercase;
    color: #fcabcd;
}
#text p{
    font-size: 1.2rem;
    color: white;
    text-align: justify;
}
#p-1{
    margin-top: 30px;
}

#segundo-boton{
    width: 250px;
    height: 40px;
    margin-top: 20px;
    background: white;
    border: 2px solid #fcabcd;
    border-radius: 20px;
    font-size: 1rem;
}

#text-2{
    width: 500px;
    height: 500px;
  
}
#dentro-text-2{
    width: 100%;
    height: 250px;
}
#dentro-text-2 img{
    width: 70%;
    height: 100%;
    background: rgb(189, 189, 189);
    border-radius: 50%;
}
#dentro-text-3{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: flex-end;
}

#dentro-text-3 img{
    width: 70%;
    height: 100%;
    background: rgb(189, 189, 189);
    border-radius: 50%;
}

#segundo-article{
    width: 100%;
    height: 87vh;
    display: flex;
    align-items: center;
   flex-direction: column;
   gap: 30px;
   padding: 0 0 70px;
}

#segundo-article h2{
    font-size: 2.5rem;
    color: #000000;
    padding-top: 20px;
}

#segundo-article span{
    color: #fcabcd;
    font-weight: 100;
    text-transform: uppercase;
}
#separador-1{
    width: 80%;
    font-size: 1.05rem;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
#separador-2{
width: 80%;
height: auto;
display: flex;
justify-content: center;
gap: 60px;
}
.cajones{
    width: 250px;
    height: 400px;
    display: flex;
    background: #dfdfdf;
    border-top: 3px solid #fcabcd;
    border-bottom: 5px solid #fcabcd;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
}
.cajones img{
    width: 55%;
    height:35vh;
    padding-top: 5px;
}
.cajones-tex{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 20px;
}

.cajones-tex h3{
    font-size: 1.7rem;
    color: #000000;
    padding-top: 20px;
}
.cajones-tex p{
    font-size: 1.05rem;
    line-height: 1.5;
    padding: 0 10px;
}

#tercer-article{
    width: 100%;
    height: 90vh;
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: center;
    background: #fcabcd;
    padding: 0 0 10px;
}

.primer-aside{
    width: 40%;
    height: 550px;
    background: #000000;
}